<div class="card">
  <p-galleria
      [value]="images"
      [fullScreen]="false"
      [autoPlay]="true"
      [circular]="true"
      [showItemNavigators]="false"
      [showThumbnails]="true"
      [showIndicators]="true"
      [showIndicatorsOnItem]="true"
      [responsiveOptions]="responsiveOptions"
      containerClass="w-full">
          <ng-template pTemplate="item" let-item>
              <shared-loading-image [imgSrc]="item.itemImageSrc" [imgAlt]="item.alt" ></shared-loading-image>
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
              <div class="grid grid-nogutter justify-content-center">
                  <shared-loading-image [imgSrc]="item.itemImageSrc" [imgAlt]="item.alt" style="width: 60px; height: 60px;" ></shared-loading-image>
              </div>
          </ng-template>
  </p-galleria>
</div>
