<h1>Mis libros reservados</h1>

<div *ngIf="listReserveBook$ | async as state">
  <ng-container *ngIf="state.loading; else content" >
    <shared-loading text="Cargando libros reservados..."></shared-loading>
  </ng-container>
  <ng-template #content>
    <div *ngIf="state.err; else books;">
      <p>Error en la consulta : {{ state.err.message }}</p>
    </div>
    <ng-template #books>
      <div *ngIf="state.data!.length > 0; else noBooks">
        <div class="grid">
          @for (item of state.data; track $index) {
            <div class="col-12">
              <div class="card flex justify-content-center">
                <p-card class="w-full shadown-4">
                  <ng-template pTemplate="content" class="m-0 p-0 b-0">
                    <div class="flex flex-column md:flex-row justify-content-start gap-3 align-items-start">
                      <div class="card flex justify-content-center">
                        <p-image
                            [src]="null | thumbnail"
                            alt="Image"
                            height="160"
                            [imageClass]="'w-full'"
                            loading="lazy"
                            [preview]="true" />
                      </div>
                      <div>
                        <span class="font-bold text-2xl block">{{ item.book_author}}</span>
                        <span>{{ item.book.title}}</span>
                        <p style="overflow: auto;" class="">
                          {{ item.book.summary }}
                        </p>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="footer">
                      <div class="flex gap-3">
                          <p-button (onClick)="bntGoTo(item.book.id)"  label="Consultar" />
                      </div>
                  </ng-template>
                </p-card>
              </div>
            </div>
          }
        </div>
      </div>
      <ng-template #noBooks>
        <p>Aún no tienes libros reservados</p>
      </ng-template>
    </ng-template>
  </ng-template>
</div>
