@if (books().length <= 0) {
  <p class="text-center font-bold font-2xl">
    <span>Oops no hay libros que mostrar</span>
  </p>
} @else {
    <div class="grid">
      @for (item of books(); track $index) {
        <div class="col-12 md:col-6 lg:col-4">
          <div class="card flex justify-content-center">
            <p-card [header]="item.title" [subheader]="item.author" class="w-full">
                <ng-template pTemplate="header">
                      <div class="card flex justify-content-center">
                        <shared-loading-image
                         [imgSrc]="item.thumbnail"
                         [imgAlt]="item.thumbnail"
                         [imgHeight]="'360'"
                         [pImageEnable]="true"
                        ></shared-loading-image>
                      </div>
                </ng-template>
                <p style="height: 280px; overflow: auto;">
                  {{ item.summary }}
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button (onClick)="bntGoTo(item.id)" label="Consultar" />
                    </div>
                </ng-template>
            </p-card>
          </div>
        </div>
      }
    </div>
}
