
<div class="flex flex-column gap-2" style="width: 50vw;">
  <h1>Configurar perfil</h1>
  <div class="flex flex-column gap-2">
    <label>Nombres</label>
    <input type="text" pInputText [value]="user?.name" readonly />
  </div>

  <div class="flex flex-column gap-2">
    <label>Apellidos</label>
    <input type="text" pInputText [value]="user?.last_name" readonly />
  </div>

  <div class="flex flex-column gap-2">
    <label>Correo electrónico</label>
    <input type="text" pInputText [value]="user?.email" readonly />
  </div>

  <div class="flex flex-column gap-2">
    <label>Bio</label>
    <textarea
      rows="5"
      cols="30"
      pInputTextarea>{{user?.bio }}</textarea>
  </div>

  <div class="flex flex-column gap-2">
    <label>Sexo</label>
    <input type="text" pInputText [value]="user?.sex" readonly />
  </div>
  <p-button (click)="onClickLogout()" label="Salir" severity="danger" />
</div>


