<!-- Título -->
<h1>Mi Información</h1>

<!-- Información del Usuario -->
<div class="grid gap-2">
  <!-- Nombres -->
  <div class="col-12 md:col-8">
    <label for="name" class="block font-medium text-md mb-2">Nombres</label>
    <input id="name" type="text" pInputText [value]="user?.name" readonly class="w-full" />
  </div>
  <!-- Apellidos -->
  <div class="col-12 md:col-8">
    <label for="last_name" class="block font-medium text-md mb-2">Apellidos</label>
    <input id="last_name" type="text" pInputText [value]="user?.last_name" readonly class="w-full" />
  </div>
  <!-- Sexo -->
  <div class="col-12 md:col-8">
    <label for="sex" class="block font-medium text-md mb-2">Sexo</label>
    <input id="sex" type="text" pInputText [value]="user?.sex" readonly class="w-full" />
  </div>
  <!-- Edad -->
  <div class="col-12 md:col-8">
    <label for="age" class="block font-medium text-md mb-2">Edad</label>
    <input id="age" type="text" pInputText [value]="user?.age" readonly class="w-full" />
  </div>
  <!-- Grado / Semestre -->
  <div class="col-12 md:col-8">
    <label for="grade" class="block font-medium text-md mb-2">Grado / Semestre</label>
    <input id="grade" type="text" pInputText [value]="user?.grade" readonly class="w-full" />
  </div>
  <!-- Turno -->
  <div class="col-12 md:col-8">
    <label for="shift" class="block font-medium text-md mb-2">Turno</label>
    <input id="shift" type="text" pInputText [value]="user?.shift" readonly class="w-full" />
  </div>
  <!-- Nombre de Usuario -->
  <div class="col-12 md:col-8">
    <label for="username" class="block font-medium text-md mb-2">Nombre de usuario</label>
    <input id="username" type="text" pInputText [value]="user?.username" readonly class="w-full" />
  </div>
  <!-- Correo Electrónico -->
  <div class="col-12 md:col-8">
    <label for="email" class="block font-medium text-md mb-2">Correo electrónico</label>
    <input id="email" type="text" pInputText [value]="user?.email" readonly class="w-full" />
  </div>
  <!-- Bio -->
  <div class="col-12 md:col-8">
    <label for="bio" class="block font-medium text-md mb-2">Bio</label>
    <textarea id="bio" rows="5" pInputTextarea readonly class="w-full">{{user?.bio }}</textarea>
  </div>
</div>
