<p-tieredMenu [model]="items">
  <ng-template pTemplate="item" let-item let-hasSubmenu="hasSubmenu">
    <ng-container *ngIf="item.routerLink; else withoutRouterLink;">
      <a
      [ngClass]="{'menuitem-active': item.routerLink === routerLinkActive()}"
      (click)="setActive(item.routerLink)"
      [routerLink]="item.routerLink" class="p-ripple p-element p-menuitem-link ng-star-inserted p-menuitem-link-active" pRipple>
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-container>

    <ng-template #withoutRouterLink>
      <a class="p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <span *ngIf="hasSubmenu" class="pi pi-angle-right ml-auto"></span>
      </a>
    </ng-template>
  </ng-template>
</p-tieredMenu>
