<shared-menu-bar></shared-menu-bar>
<div *ngIf="listNotifications$ | async as state">
  <ng-container *ngIf="state.loading; else content">
    <shared-loading></shared-loading>
  </ng-container>
  <ng-template #content>
    <ng-container *ngIf="state.err; else notifications">
      <p class="text-center font-bold font-2xl">
        Oops hubo un error durante el proceso
      </p>
    </ng-container>
    <ng-template #notifications>
      <div *ngIf="state.data.length > 0; else noNotifications">
        <div class="grid">
          <div *ngFor="let notification of state.data; let i = index;" class="col-12 md:col-6">
            <div class="card w-full h-full oveflow-auto">
              <p-card>
                <!---
                <ng-template pTemplate="header">
                  <div class="pt-3 px-3">
                    <div class="flex flex-row justify-content-between gap-2 align-items-center">
                      <span class="font-bold text-2xl">Notificación {{i+1}}</span>
                      <div class="flex flex-row justify-content-between align-items-center">
                          @if (notification.send_email) {
                            <span pTooltip="Correo enviado" tooltipStyleClass="text-xs" tooltipPosition="top"><i class="pi pi-envelope text-2xl" style="color:green;"></i></span>
                          } @else {
                            <span pTooltip="Correo no enviado" tooltipStyleClass="text-xs" tooltipPosition="top"><i class="pi pi-envelope text-2xl" style="color:lightgray;"></i></span>
                          }
                          <div class="mx-2"></div>
                          @if (notification.status === 'read') {
                            <span pTooltip="Leído" tooltipStyleClass="text-xs" tooltipPosition="top"><i class="pi pi-bell text-2xl" style="color:green;"></i></span>
                          } @else {
                            <span pTooltip="No leído" tooltipStyleClass="text-xs" tooltipPosition="top"><i class="pi pi-bell text-2xl" style="color:lightgray;"></i></span>
                          }
                      </div>
                    </div>
                  </div>
                </ng-template>
                --->

                <div class="flex flex-row justify-content-between gap-2 align-items-center">
                  <span class="font-bold text-sm block white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ notification.subject }}</span>
                  <div class="flex flex-row justify-content-between align-items-center">
                      @if (notification.send_email) {
                        <span pTooltip="Correo enviado" tooltipStyleClass="text-xs" tooltipPosition="top"><i class="pi pi-envelope text-2xl" style="color:green;"></i></span>
                      } @else {
                        <span pTooltip="Correo no enviado" tooltipStyleClass="text-xs" tooltipPosition="top"><i class="pi pi-envelope text-2xl" style="color:lightgray;"></i></span>
                      }
                      <div class="mx-2"></div>
                      @if (notification.status === 'read') {
                        <span pTooltip="Leído" tooltipStyleClass="text-xs" tooltipPosition="top"><i class="pi pi-bell text-2xl" style="color:green;"></i></span>
                      } @else {
                        <span pTooltip="No leído" tooltipStyleClass="text-xs" tooltipPosition="top"><i class="pi pi-bell text-2xl" style="color:lightgray;"></i></span>
                      }
                  </div>
                </div>
                <p-divider />
                <p class="m-0 h-6rem border-1 p-1 m-1 border-round-sm" style="overflow: auto;">{{ notification.content }}</p>
                <div class="card flex align-items-center gap-2 flex-wrap">
                  <div *ngIf="notification.tags.length > 0; else noTags;" >
                    <p-chip styleClass="pl-0 pr-3 ml-1" *ngFor="let tag of notification.tags">
                        <span class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center">
                          <i class="pi pi-tag"></i>
                        </span>
                        <span class="ml-2 text-sm">
                          {{ tag }}
                        </span>
                    </p-chip>
                  </div>
                  <ng-template #noTags>
                    <p-chip styleClass="pl-0 pr-0">
                      <span class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center">
                        <i class="pi pi-tag"></i>
                      </span>
                    </p-chip>
                  </ng-template>
                </div>
                <div class="flex flex-column md:flex-row justify-content-between align-items-center">
                  <span class="block m-2 text-xs">Recibido en {{ notification.createdAt | date:'medium' }}</span>
                  @if (notification.status !== 'read') {
                    <p-button (click)="onBtnMarkLikeRead(notification)" label="Marcar como leído" icon="pi pi-check" size="small" />
                  } @else {
                    <span class="block m-2 text-xs">Leído en {{ notification.updatedAt | date:'medium' }}</span>
                  }
                </div>
              </p-card>
            </div>
          </div>
        </div>

      </div>
      <ng-template #noNotifications>
        <p class="text-center font-bold font-2xl">No hay notificaciones</p>
      </ng-template>
    </ng-template>
  </ng-template>
</div>
