<shared-menu-bar></shared-menu-bar>

<!-- Encabezado -->
<header  class="surface-800 text-white text-center p-3">
  <h1>LibHubTec</h1>
  <p>Bienvenido al portal de reservación de libros para la biblioteca de la universidad.</p>
</header>

<!-- Contenedor principal -->
<div class="flex justify-content-between m-4 gap-4">

  <!-- Barra lateral -->
  <aside class="w-3 p-3 bg-withe shadow-3 hidden lg:block">
      <h3>Acerca de mí</h3>
      <img [src]="'http://localhost:8000/storage/'+user?.photo" alt="Foto de perfil" class="w-full h-auto border-round-sm">
      <h3>Bio</h3>
      <p>{{ user?.bio }}</p>
  </aside>

  <!-- Contenido principal -->
  <main class="w-full lg:w-9 bg-withe" *ngIf="announcements | async as state">

      <ng-container *ngIf="state.loading; else content" >
        <p-card>
          <article>
            <shared-loading></shared-loading>
          </article>
        </p-card>
      </ng-container>
      <ng-template #content>
        <ng-container *ngIf="state.data.length === 0; else announcements">
          <p-card>
            <article>
              <h2>Aún no hay anuncios importantes</h2>
            </article>
          </p-card>
        </ng-container>
        <ng-template #announcements>
          <div *ngFor="let announcement of state.data;">
            <p-card [hidden]="!announcement.isPublished" styleClass="mb-4">
              <article>
                <h2>{{ announcement.title }}</h2>
                <p class="text-700 text-sm">Publicado el {{ announcement.createdAt | date:'medium' }}</p>
                <home-images-previes [pictures]="announcement.pictures" class="w-full h-auto border-round-sm mt-3"></home-images-previes>
                <p>{{ announcement.content }}</p>

                @if(announcement.link) {
                  <a [href]="announcement.link" target="_blank" rel="noopener noreferrer"  class="card flex justify-content-start align-items-center gap-1 my-4">
                    <p-button icon="pi pi-external-link" severity="success" size="small" [style]="{'width': '10px','height':'10px'}" />
                    <span>Enlace externo</span>
                  </a>
                }

                @if(announcement.tags){
                  <ng-container *ngIf="announcement.tags?.split(',').length === 0; else tags;">
                    <p-card>
                      <article>
                        <h2>Aún no hay anuncios importantes</h2>
                      </article>
                    </p-card>
                  </ng-container>
                  <ng-template #tags>
                    <div class="card flex align-items-center gap-2 flex-wrap">
                      <p-chip *ngFor="let tag of announcement.tags.split(',')" [label]="'#'+tag" />
                    </div>
                  </ng-template>
                }
              </article>
            </p-card>
          </div>
        </ng-template>
      </ng-template>

  </main>

</div>
