<shared-menu-bar></shared-menu-bar>

<!-- Encabezado -->
<header  class="surface-800 text-white text-center p-3">
  <h1>LibHubTec</h1>
  <p>Bienvenido al portal de reservación de libros para la biblioteca de la universidad.</p>
</header>

<!-- Contenedor principal -->
<div class="flex justify-content-between m-4 gap-4">

  <!-- Barra lateral -->
  <aside class="w-3 p-3 bg-withe shadow-3 hidden lg:block">
      <h3>Acerca de mí</h3>
      <img src="https://placehold.co/300x200?text=Foto+de+Perfil" alt="Foto de perfil" class="w-full h-auto border-round-sm">
      <h3>Bio</h3>
      <p>Soy un entusiasta de la tecnología y me gusta compartir mis ideas sobre varios temas.</p>
  </aside>

  <!-- Contenido principal -->
  <main class="w-full lg:w-9 bg-withe">
      <p-card styleClass="mb-4">
        <article>
          <h2>Mi primer artículo en el blog</h2>
          <p class="text-700 text-sm">Publicado el 25 de noviembre de 2024</p>
          <home-images-previes class="w-full h-auto border-round-sm mt-3"></home-images-previes>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Morbi euismod magna ac lorem rutrum accumsan. Integer malesuada nulla sit amet diam. Cras metus. Sed aliquet risus a tortor. Integer id quam. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque malesuada nulla a mi.</p>
          <p>Nullam tincidunt, ante ut viverra luctus, magna mi dapibus nulla, vel malesuada elit odio ac augue. Donec euismod nisl sit amet neque sollicitudin bibendum. Donec auctor venenatis turpis. Cras interdum erat non nulla egestas, sed scelerisque nulla consectetur.</p>
        </article>
      </p-card>
      <p-card>
        <article>
          <h2>Mi primer artículo en el blog</h2>
          <p class="text-700 text-sm">Publicado el 25 de noviembre de 2024</p>
          <home-images-previes class="w-full h-auto border-round-sm mt-3"></home-images-previes>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Morbi euismod magna ac lorem rutrum accumsan. Integer malesuada nulla sit amet diam. Cras metus. Sed aliquet risus a tortor. Integer id quam. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque malesuada nulla a mi.</p>
          <p>Nullam tincidunt, ante ut viverra luctus, magna mi dapibus nulla, vel malesuada elit odio ac augue. Donec euismod nisl sit amet neque sollicitudin bibendum. Donec auctor venenatis turpis. Cras interdum erat non nulla egestas, sed scelerisque nulla consectetur.</p>
        </article>
      </p-card>
  </main>

</div>
